.social-links {
    position: absolute;
    bottom: 40px;
    right: 40px;  
    display: flex;
    gap: 15px; 
}
.social-links__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;  
    height: 45px; 
    background-color: black;
    border: 1px solid #555; 
    border-radius: 50%;   
}

.social-links__link:hover {
    border-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.social-links__link img {
    height: 20px; 
    width: auto;
}